.playBoard{
    margin-top:30px;
    margin-bottom:30px;
    height: $tableSize;
    width: $tableSize*$sizeFactor;
    display: grid;
    background-color: lightcoral;
    grid-template-columns: repeat( $sizeFactor * $nCells, 1fr);
    grid-template-rows: repeat($nCells, 1fr);
    border: 2px solid blue;
}

/* cells */
.boardCell{
    background-color: lightcoral;
    z-index: 1;
}

.pointsCell{
    background-color: white;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    height: 20%;
    width: 20%;
    z-index: 1;
}

/* Base cells */
.wall{
    background-color: lightslategrey;
    z-index: 2;
}
.ghostLair{
    background-color: lightcoral;
    z-index: 1;
}

@media screen and (max-width: 1000px) {
    .playBoard{
        height: 3*$tableSize/4;
        width:  $tableSize+$tableSize/2;
    }
}

@media screen and (max-width: 750px) {
    .playBoard{
        height: $tableSize/2;
        width:  $tableSize;
    }
}