$tableSize:500px;
$nCells:12;
$sizeFactor:2;


body{
    left:0;
    margin-left: 0;
    padding:0;
}
.main{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

@import "./playTable";
@import "./creatures";
@import "./messages";